.typography-box {
  border: 1px solid var(--gray);
  margin: auto;
  padding: 1.5rem;
  border-radius: 6px;
  margin-bottom: 1.5rem;
}
.type-1,
.type-2,
.type-3,
.type-4,
.type-5,
.type-6 {
  margin: 1rem;
}
.type-3,
.body-cp-lg {
  font-size: 1.7rem;
}
.type-4,
.body-cp-rg {
  font-size: 1.4rem;
}
.type-5,
.body-cp-md {
  font-size: 1.2rem;
}
.type-6,
.body-cp-sm {
  font-size: 1rem;
}

.gray {
  color: var(--gray-text);
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
