@import url("./Components/travizz.css");

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 8px;
  box-shadow: 0 0 12px 2px var(--primary-color);
}

.logo {
  background: -webkit-linear-gradient(
    var(--secondary-color),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  font-weight: 900;
}
.logo-design{
  font-size: 3rem;
}

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  font-size: 1.2rem;
}
.navbar li {
  display: inline-block;
  padding: 1rem;
}

.home:hover,
li a:hover{
  color: var(--text-color);
}
a {
  text-decoration: none;
  color: var(--gray);
  cursor: pointer;
  font-size: 1.3rem;
}

.link-social {
  display: flex;
  margin-left: auto;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 5rem;
}


.container-wrapper {
  /* max-width: 1000px; */
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar-left {
  height: 100vh;
  width: 20rem;
  padding: 1rem;
  /* position: sticky;
  top: 0;
  z-index: 1; */
  /* align-self: start; */
  overflow: hidden auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;

  /* position: fixed;
    top: 6.4rem;*/
}

.sidebar-list {
  margin: 5px;
  padding: 1.2rem;
  width: 15rem;
  position: fixed;
  border-right: 20px solid var(--bg-code);
  top: 5.5rem;
  overflow: auto;
  height: 100vh;
}
.sidebar-list h4 {
  font-size: 1.8rem;
}
.nav-link-item {
  margin: 0.1rem;
  padding: 0.2rem;
  cursor: pointer;
}
.nav-link-item:hover {
  background: var(--blue-border);
}

.mainbar-container {
  overflow-wrap: break-word;
  scroll-behavior: smooth;
  flex-grow: 1;
  overflow: hidden auto;
}

.component-features {
  width: 70rem;
}
hr.component-separator {
  margin: 3rem 0 1rem 0;
}

/* section */
.section-designbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 3rem;
}
.design-section{
  line-height: 1.6;
  font-size: 1.5rem;
  padding: 1rem;
}
.design-image {
  width: 100%;
  height: auto;
}
.text-heading{
  color: var(--secondary-green);
}
.btn-installaton{
  margin: 0 0.5px;
  opacity: 0.9;
}
.btn-installaton:hover {
  opacity: 1;
}
.section-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 12px 5rem;
  /* flex-wrap: wrap; */
}

.text-s{
  font-size: 1.1rem;
}
.version{
  color: var(--blue);
  margin: 1.2rem 1rem;
}
.version-theme{
  list-style: square;
  margin:4px 4rem;
  color: var(--card-color);
}

/* footer */
.footer {
  text-align: center;
  background: var(--footer-clr);
  margin-top: 3rem;
  font-size: 1.3rem;
  padding: 1.8rem;
}
.link-footer-social{
  margin: 1rem;
}
.nav-footer-pills .nav-icons{
  padding: 8px;
  font-size: 1.8rem;
}
.nav-footer-pills:hover {
  color: var(--text-color);
}
span.footer-design-copyright {
  font-size: 1.2rem;
}