@import url("./Components/kolpotoru.css");


/* navigation */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color:var(--bg-code);
  flex-wrap: wrap;
  box-shadow: 0 3px 6px var(--secondary-green);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.nav-logo {
  height: 35px;
}
.logo-alt{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap:8px;
  cursor: pointer;
}
.design-font h3{
  font-size: 2rem;
  background: -webkit-linear-gradient(var(--darkblue-bg), var(--secondary-green), var(--text-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Roboto Slab';
  font-weight: 800;
}
.design-font span{
  color: var(--gray);
  font-weight: 800;
  font-size:small;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links li {
  padding-right: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-links li a {
  color: var(--secondary-green);
}

.nav-links li a:hover {
  color: var(--text-color);
  font-weight: 900;
  border-bottom: 1px solid var(--blue);
}

.social-media-links {
  display: flex;
  width: 250px;
  justify-content: space-evenly;
}
.color-text-primary{
  font-size: 1.5rem;
  color:var(--blue);
}
.social-media-links i:hover {
  color:var(--secondary-green);
}

/* sidebar */
.sidebar-toggle {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--card-color);
  cursor: pointer;
  z-index: 4;
  position: fixed;
}
.sidebar-toggle:hover {
  color:var(--secondary-green);
}

.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--card-color);
  transition: var(--transition);
  cursor: pointer;
}

.close-btn:hover {
  color: var(--secondary-green);
  transform: rotate(360deg);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background:var(--bg-code);
  display: flex;
  flex-direction: column;
  transition: var(--transition);
  transform: translate(-110%);
  z-index: 2;
}
.show-sidebar {
  transform: translate(0);
}
.logo-small-screen {
  /* display: none; */
}
.sidebar-aside {
  width: 100%;
  padding: 1.5rem;
  overflow-y: scroll;
}

.sidebar-aside::-webkit-scrollbar-thumb {
  background-color:var(--gray);
} 

.sidebar-nav-links {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--card-color);
  padding: 1.2rem;
}

.sidebar-nav-links li a {
  color: var(--bg-code);
}

.sidebar-nav-links li a:hover {
  color:var(--blue-border);
}

.sidebar-toggle-container {
  display: none;
}

.show-toggleBtn {
  transform: translate(-100%);
}

/* documentation */

.docs-container {
display: flex;
gap: 2rem;
padding: 0rem;
}

.docs-sub-container {
display: flex;
flex-direction: column;
}

/* aside */
.docs-aside {
width: 25%;
padding: 1.5rem;
/* overflow-y: scroll; */
padding-top: 6rem;
/* max-height: 69vh; */
box-shadow: 0 0 4px var(--secondary-green);
}
.docs-link {
color: var(--darkblue-bg);
padding: 0.5rem;
margin: 0.3rem 0;
font-weight: 600;
font-size: 1.1rem;
}

.docs-link:hover {
color: var(--card-color);
background-color: var(--blue-bg);
border-bottom: 2px solid var(--card-color);
border-radius: 5px;
padding-left: 14px;
}

.horizontal-div {
border: 0;
height: 1px;
background: var(--dnd);
margin: 0.5rem 0 1.5rem 0;
}

.active-link {
color: var(--bg-code);
font-weight: 500;
background-color: var(--blue);
border-bottom:2px solid var(--underline-bottom);
border-radius: 5px;
font-size: 1.1rem;
}


.list-style-none {
list-style-type: none;
}
.heading-text-primary{
  color: var(--card-color);
  font-size: 1.6rem;
}
/* components */
.components {
width: 100%;
/* overflow-y: scroll; */
/* max-height: 70vh; */
padding-right: 2rem;
padding-top: 5.2rem;

}

.footer{
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
background-color:var(--secondary-green);
color: var(--bg-code);
/* position: fixed;
bottom: 0; */
width: 100%; 
font-size: 1.1rem;
padding: 1rem;
}

.link-social {
  margin: 1rem;
}
.nav-pills .icon{
  padding: 8px;
  font-size: 1.5rem;
  color: var(--bg-code);
}
.nav-pills .icon:hover {
  color: var(--text-color);
} 
span.footer-copyright {
  font-size: 0.8rem;
}


hr.component-separator {
  margin: 3rem 0 1rem 0;
}

/* section */
.section-designbar{
  padding-top: 5.3rem;
  display: grid;
  grid-template-columns: 40% calc(60% - 2rem);
	align-items: center;
  gap:2rem;
  margin: 3rem;
}

.design-section {
  line-height: 1.6;
  font-size: 1.4rem;
  padding: 1rem;
}

h2.text-heading {
  color: var(--secondary-green);
  font-size: 2.5rem;
}
.btn-installaton {
  margin: 0 0.5px;
  opacity: 0.9;
}
.btn-installaton:hover {
  opacity: 1;
}
.text-library {
  font-size: 2.4rem;
  color: var(--card-color);
}

.faster-library {
  color: var(--text-color);
  display: inline-block;
  font-weight: 800;
}

.text-s {
  font-size: 1.1rem;
}
.version {
  color: var(--blue);
  margin: 1.2rem 1rem;
}
a.version {
  font-size: 1.1rem;
  text-decoration: underline;
  margin: 0 5px;
}
.version-theme {
  list-style: square;
  margin: 4px 4rem;
  color: var(--card-color);
}


@media (max-width: 992px) {

  .section-designbar{
    grid-template-columns: minmax(0, 1fr);
    gap: 1rem;
    margin: 1rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 875px) {
  .hero-container {
    padding: 5rem;
  }

  .nav-logo {
    height: 35px;
  }
}

@media (max-width: 768px) {
  .hero-container {
    padding: 3rem;
  }

  .docs-aside {
    display: none;
  }

  .components {
    margin: 1.2rem;
    padding-right: 0;
    /* max-height: 69vh; */
  }
  .nav-links{
    margin: auto;
  }
  .social-media-links {
    display: none;
  }

  .sidebar-toggle-container {
    display: block;
  }
}

@media (max-width: 580px) {
  .hero-container {
    padding: 2rem;
  }
  .nav-links{
    display: none;
  }
}

@media (max-width: 480px) {
  .nav-links {
    display: none;
  }

  .logo-small-screen {
    /* display: block; */
  }

  .social-media-links {
    padding: 0.5rem;
  }
}
