.input-box {
  border: 1px solid var(--gray);
  margin: auto;
  padding: 0.3rem 1rem;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.radio,
.checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
input[type="radio"],
input[type="checkbox"] {
  width:1rem;
  height:1rem;
}
label{
    display: block;
    font-size: 1.3rem;
    margin: 0.2rem 0.5rem;
    text-align: start;
}
input[type=text], .form-textarea{
    border: 1px solid var(--gray);
    padding:0.4rem 0.7rem;
    font-size:1rem;
    margin:0.4rem;
    width: 80%;
    transition: .3s all ease;
    outline: none;
    border-radius: 0.2rem;
}

.input-group input:focus, .form-textarea:focus{
    border: 2px solid var(--blue);
}
.input-group.err input{
    border:2px solid var(--red);

}
.error-message{
    margin:0.2rem;
    color: var(--red);
    font-weight: 800;

}
.form-textarea{
  width: 70%;
}