@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

@import url("./Alert/alert.css");
@import url("./Avatar/avatar.css");
@import url("./Badge/badge.css");
@import url("./Button/button.css");
@import url("./ResponsiveImages/image.css");
/*@import url('./Input/input.css');*/
@import url("./Card/card.css");
@import url("./Lists/list.css");
@import url("./Navigation/navigation.css");
@import url("./Toast/toast.css");
@import url("./Rating/rating.css");
@import url("./Modal/modal.css");
@import url("./Grid/grid.css");
@import url("./Typography/typography.css");
@import url("./Slider/slider.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray: #3e4152;
  --green-bg: #84f1c9;
  --green: #1b7052;
  --yellow: #ff9204;
  --yellow-bg: #ffe7c5;
  --blue: #084298;
  --blue-bg: #cfe2ff;
  --blue-border: #b6d4fe;
  --red: #dc3545;
  --red-bg: #fcc5c5;
  --text-color: #007fff;
  --filled-red: #d32f2f;
  --filled-blue: #0288d1;
  --filled-yellow: #ed6c02;
  --filled-green: #2e7d32;
  --bg-code: #fafafa;
  --darkblue-bg: #023e8a;
  --dnd: #ae2012;
  --offline: #7d8597;
  --online: #008000;
  --black-bg: #000814;
  --gray-bg: #e5e5e5;
  --gray-hover: #adb5bd;
  --blue-color: #3a86ff;
  --gray-text: #6b705c;
  --secondary-green: #560bad;
  --primary-color: #3f37c9;
  --secondary-color: #0096c7;
  --footer-color: #403747;
  --secondary-color: #0096c7;
  --card-color: #001219;
  --transition: all 0.3s linear;
  --underline-bottom:#ee82ee;
}

.no-scroll {
  overflow: hidden;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  /* color: var(--gray); */
  min-height: 100vh;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

img,
picture,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  font-size: inherit;
  display: inline-block;
}

h1 {
  font-size: 3rem;
}

h1,
h2,
p {
  margin: 0.625rem 0;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
}
p {
  font-size: 1.2rem;
  padding: 0.8rem;
}

.primary-text {
  color: var(--secondary-green);
  font-size: 1.2rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

span {
  margin-right: 0.4rem;
}

i,
a,
button {
  cursor: pointer;
}

.nav-icons {
  margin-left: 1rem;
  font-size: 1.5rem;
  padding: 0.4rem;
}
.nav-icons:hover,
.navlink a:hover {
  color: var(--text-color);
}
.code-snippet-display {
  box-sizing: border-box;
  width: 100%;
  max-height: 400px;
  padding: 1rem 0;
  background-color: var(--bg-code);
  margin: 0 auto;
  overflow: auto;
  border: 2px solid var(--text-color);
  border-radius: 6px;
  margin-bottom: 2.5rem;
}
.code-snippet-display iframe {
  width: 100%;
  border: none;
}
