.badge-box {
  border: 1px solid var(--gray);
  margin: auto;
  /* width:80%; */
  padding: 1.5rem;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}
.icon {
  font-size: 2rem;
  padding: 0.4rem;
  color: var(--black-bg);
  cursor: pointer;
}

.badge {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
}

.avatar {
  border-radius: 50%;
  border: 2px solid var(--bg-code);
  width: 5rem;
}

.badge > .status-avatar {
  bottom: 3px;
  right: 10px;
  position: absolute;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 2px solid var(--bg-code);
}

.online {
  background: var(--online);
}
.offline {
  background: var(--offline);
}
.dnd {
  background: var(--dnd);
}
.badges {
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
}
.badge-container {
  margin: 1rem 0.5rem;
}
.bg-secondary {
  background: var(--offline);
  color: var(--bg-code);
  font-size: 1.7rem;
}
.bg-primary {
  background: var(--text-color);
  color: var(--bg-code);
  font-size: 1.3rem;
}
.round-pill-badge {
  border-radius: 50rem;
  font-size: 1.3rem;
}
.text-badge {
  display: block;
}
.text-badge h2 {
  font-size: 2.4rem;
}
.text-badge h3 {
  font-size: 2.1rem;
}
.text-badge h4 {
  font-size: 1.9rem;
  margin-top: 0.3rem;
}
.text-badge h5 {
  font-size: 1.75rem;
  margin-top: 0.3rem;
}
.text-badge h6 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.text-badge div {
  font-size: 1.35rem;
  margin-top: 0.4rem;
}

.badge-icon {
  position: relative;
  margin: 1rem;
}

.status-badge {
  position: absolute;
  color: var(--bg-code);
  bottom: 30px;
  left: 35px;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  padding: 0.08rem 0.199rem;
}

.badge-number {
  background: var(--text-color);
}
.status-badge-number {
  background: var(--dnd);
}
