<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Ranita Saha" />
    <meta name="description" content="Modal Component" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../travizz.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../style.css" />
</head>

<body>
    <nav class="header">
        <a href="/" aria-current="page" class="header-logo">
            <img src="/logo-assets/logo.png" alt="logo" class="header-logo" /></a>

        <div class="header-nav">
            <ul class="navlink">
                <li><a href="/">Home</a></li>
                <li><a href="/docs/">Documentation</a></li>
            </ul>
        </div>
        <div class="link-social">
            <a href="https://github.com/ranitasahaa1230/Travizz-UI-Component-Library" target="_blank"
                class="nav-pills"><i class="fab fa-github nav-icons"></i></a>
            <a href="https://twitter.com/Ifullofsunshine" target="_blank" class="nav-pills"><i
                    class="fab fa-twitter nav-icons"></i></a>
            <a href="https://www.linkedin.com/in/saharanitaa1230dreamer/" target="_blank" class="nav-pills"><i
                    class="fab fa-linkedin nav-icons"></i></a>
        </div>
    </nav>

    <div class="container-wrapper">
        <aside class="sidebar-left">
            <section class="sidebar-list aside-left-container">
                <h4 class="sidebar-head">Components</h4>
                <ul class="nav-links">
                    <li class="nav-link-item"><a href="#">Alert</a></li>
                    <li class="nav-link-item">
                        <a href="../Avatar/avatar.html">Avatar</a>
                    </li>
                    <li class="nav-link-item">
                        <a href="../Badge/badge.html">Badge</a>
                    </li>
                    <li class="nav-link-item">
                        <a href="../Button/button.html">Button</a>
                    </li>
                    <li class="nav-link-item"><a href="#Card">Card</a></li>
                    <li class="nav-link-item"><a href="#Input">Input</a></li>
                    <li class="nav-link-item">
                        <a href="../Responsive Images/image.html">Images</a>
                    </li>
                    <!-- <li class="nav-link-item"><a href="#Lists">Lists</a></li>
                <li class="nav-link-item"><a href="#Modal">Modal</a></li>
                <li class="nav-link-item"><a href="#Navigation">Navigation</a></li>
                <li class="nav-link-item"><a href="#Rating">Rating</a></li>
                <li class="nav-link-item"><a href="#Slider">Slider</a></li>
                <li class="nav-link-item"><a href="#Grid">Grid Simplified</a></li>
                <li class="nav-link-item"><a href="#Typography">Typography</a></li>
                <li class="nav-link-item"><a href="#Toast">Toast</a></li> -->
                </ul>
            </section>
        </aside>

        <main class="mainbar-container">
            <section class="component-features" id="alert">
                <h1>Modal</h1>
                <p>
                    The modal component provides a solid foundation for creating dialogs, popovers, lightboxes, or
                    whatever else.
                </p>

                <div>
                    <h2>Example of Modal</h2>
                    <p>
                        You need to have wrapper div <span class="primary-text">modal-container </span> class. 
                        <br />
                        You can copy html part from below code snippet.
                    </p>
                </div>

                <div class="modal-box">
                    <div id="modal" class="modal modal-container">
                        <div class="modal-close-btn">
                        <p class="modal-header">Removing Product</p>
                        <button type="button" class="btn-close modal-close"></button>
                        </div>
                            <p>Are you sure you want to remove this product from cart?</p>
                        <div class="modal-footer">
                            <button class="btn btn-primary-outline">Remove</button>
                            <button data-modal-close class="btn btn-primary-solid" data-modal-close>
                                Cancel
                            </button>
                        </div>
                    </div>
                    <div id="overlay"></div>

                </div>

                <div class="code-snippet-display">
                    <code>

            </code>
                </div>

                <div>
                    <h2>Live Demo</h2>
                    <p>
                        Click on the below CTA to open modal.To close the pop-up, click on close icon or Back button.
                        Functionality is achieved using JavaScript
                    </p>
                </div>

                <div class="modal-box">
                    <!-- button to open the modal -->
                    <button class="modal-CTA btn btn-solid-primary" id="example-modal-CTA">Click Me</button>

                    <!-- modal content -->
                    <div id="modal" class="modal modal-centered holo-bg">
                        <h1 class="modal-header">
                            Removing Product
                            <button data-modal-close class="btn btn-dismiss">
                                <img src="../../assets/SVG/dismiss-blue.svg" alt="" />
                            </button>
                        </h1>
                        <p>Are you sure you want to remove this product from cart?</p>
                        <div class="modal-footer">
                            <button class="btn btn-primary-outline">Remove</button>
                            <button data-modal-close class="btn btn-primary-solid" data-modal-close>
                                Cancel
                            </button>
                        </div>
                    </div>
                    <div id="overlay"></div>
                </div>

                    <div class="code-snippet-display">
                        <code>

                        </code>
                    </div>

                    <div>
                        <h2>JavaScript</h2>

                        <div class="code-snippet-display">
                            <code>

            </code>
                        </div>
            </section>
        </main>
    </div>
</body>

</html>