*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
    --gray:#3e4152;
    --green-bg:#84f1c9;
    --green:#1b7052;
    --yellow:#ff9204;
    --yellow-bg:#ffe7c5;
    --blue:#084298;
    --blue-bg:#cfe2ff;
    --blue-border:#b6d4fe;
    --red:#dc3545;
    --red-bg:#fcc5c5;
    --text-color:#007FFF;
    --filled-red:#d32f2f;
    --filled-blue:#0288d1;
    --filled-yellow:#ed6c02;
    --filled-green:#2e7d32;
    --bg-code:#FAFAFA;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 2rem;
    color:var(--gray);
}
h1{
    font-size:3rem;
}

h1, h2, p{
    margin: 0.625rem 0;
    line-height: 1.2;
}

h2{
    font-size: 2rem;
}
p{
    font-size: 1.2rem;
    padding: 0.8rem;
}
.alert-box, .outlined-box, .filled-box{
    border:1px solid var(--gray);
    margin: auto;
    width:80%;
    padding: 0.3rem 1rem;
    border-radius: 6px;
    margin-bottom: 1.5rem;
}
.fa{
    margin-left: 1rem;
    font-size: 1.5rem;
    padding: 0.4rem;
}
.alert{
    display: flex;
}
span{
    font-size: 1rem;
    padding:0.4rem;
}
.alerts-variants{
    margin: 1.5rem;
    border-radius: 4px;
    padding: 0.5rem;
}

.success-alert{
    background-color:var(--green-bg);
    color: var(--green);
    border: 2px solid var(--green-bg);
}

.warning-alert{
    color:var(--yellow);
    background-color:var(--yellow-bg);
    border: 2px solid var(--yellow-bg);
}

.info-alert{
    color:var(--blue);
    background-color: var(--blue-bg);
    border:2px solid var(--blue-border);
}

.error-alert{
    color:var(--red);
    background-color:var(--red-bg);
    border: 2px solid var(--red-bg);
}

.outline-success{
    color: var(--green);
    border: 2px solid var(--green);
}
.outline-warning{
    color:var(--yelow);
    border: 2px solid var(--yelow);
}

.outline-info{
    color: var(--blue);
    border:2px solid var(--blue);
}

.outline-error{
    color:var(--red);
    border: 2px solid var(--red);
}

.filled-success{
    color:white;
    background-color:var(--filled-green);
}
.filled-warning{
    color: white;
    background-color:var(--filled-yellow);
}

.filled-info{
    color:white;
    background-color: var(--filled-blue);
}

.filled-error{
    color:white;
    background-color:var(--filled-red);
}
.primary-text{
    color:var(--text-color);
    font-size: 1.2rem;
}

.code-snippet-display{
    box-sizing: border-box;
    width: 80%;
    max-height: 300px;
    padding: 1rem 0;
    background-color:var(--bg-code);
    margin: 0 auto;
    overflow: auto;
    border: 2px solid var(--text-color);
    border-radius: 6px;
    margin-bottom: 1.2rem;
}
.code-snippet-display iframe{
    width: 100%;
    border: none;
}